* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.nav {
    width: 100%;
    height: 80px;
    display: block;
    background-color: blue;
}

.inner_nav {
    width: 80%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

img {
    height: 100%;
}


/*  Two column SECTION     */
.title {
    text-align: center;
}

form {
    padding: 20px;
    margin-top: 20px;
}

input {
    width: 10%;
}